<%= render :partial => "dashboard/navigation_sidebar" %>
<div class="span9">
  <div class="span12 well well-large">
    <h2>Welcome <%= current_user.full_name %></h2>
    <h5>This dashboard page is under construction...</h5>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %> | 
    <%= link_to "Edit account", edit_user_registration_path %>
  </div>
</div>
