<%= render :partial => "dashboard/navigation_sidebar" %>
<div class="span9">
  <div class="well well-small">
    <h4 style="margin-left: 15px;"><i class="icon-shopping-cart"/></i> Orders</h4>
  </div>

  <div class="pagination">
    <%= will_paginate @orders, :previous_label => 'Previous', :next_label => 'Next', :renderer => 'BootstrapPaginationHelper::LinkRenderer'%>
  </div>
  
  <% if @orders.blank? %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        You haven't placed any orders yet.
    </div>
  <% else %>
    <%= render :partial => 'shared/users_orders', :locals => {:orders => @orders} %>
  <% end %>

  <div class="pagination">
    <%= will_paginate @orders, :previous_label => 'Previous', :next_label => 'Next', :renderer => 'BootstrapPaginationHelper::LinkRenderer'%>
  </div>

</div>