<%= render :partial => "dashboard/navigation_sidebar" %>
<div class="span9">
  <div class="well well-small">
    <h4 style="margin-left: 15px;"><i class="icon-heart"/></i> Products</h4>
  </div>
</div>