<%= render :partial => "dashboard/navigation_sidebar" %>
<div class="span9">
  <div class="well well-small">
    <h4 style="margin-left: 15px;">
      <i class="icon-food"/></i> Recipes
    </h4>
  </div>
<%= render 'recipe_form' %>
</div>