<%= render 'user_sideinfo' %>

<div class="span9">
  <div class="well well-small">
    <h4 style="margin-left: 15px;">
    <i class="icon-food"/></i> Recipes
    <%= link_to "<i class=\"icon-plus\"> Add recipe</i>".html_safe, new_recipe_path, :class => "btn btn-primary pull-right", disabled: !session[:active_recipe].nil? if current_user == @user %>
    </h4>

  </div>

  <% if @recipes.blank? %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        User doesn't have any recipes yet.
    </div>
  <% else %>
    <%= render partial: 'shared/users_recipes', :locals => {:recipes => @recipes} %>
  <% end %>  
</div>