<div class="well" style="text-align: center;">
  <h5 class="muted"><%= image_tag 'shopping-cart.png' %> Your Konzum cart</h5>
  <table class="table table-condensed" style="font-size: small;">
    <tr>
      <td>Example product 1</td>
      <td>101 kn</td>
      <td><a href="#" title="Remove from cart"><i class="icon-remove"></i></a></td>
    </tr>
    <tr>
      <td>Product 2</td>
      <td>102 kn</td>
      <td><a href="#" title="Remove from cart"><i class="icon-remove"></i></a></td>
    </tr>
    <tr>
      <td>Product 3</td>
      <td>103 kn</td>
      <td><a href="#" title="Remove from cart"><i class="icon-remove"></i></a></td>
    </tr>
  </table>
  <a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i> Checkout</a>
  <a href="#" class="btn btn-danger"><i class="icon-trash"></i> Empty cart</a>
</div>