<script type="text/javascript">
  $(document).ready(function() {
    $("#invite").click(function(){
      if ($(this).prop('disabled', 'disabled')) {
        $("#inviteFriendsModal").modal('show');
      };
    });
  });
</script>

<div id="inviteFriendsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Invite friends</h3>
  </div>
  <div class="modal-body">
    <h5>Your friends:</h5>
    <div id="invite-table">
    <%= render "list_users/invite_table" %>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"> Close</i></button>
  </div>
</div>