<%= render :partial => "dashboard/navigation_sidebar" %>
<div class="span9">
  <div class="well well-small">
    <h4 style="margin-left: 15px;">
      <i class="icon-list"/></i> Shopping lists
    </h4>
  </div>
  <!-- Add invite friends dialog -->
<%= render 'list_form' %>
</div>