<table class="table table-striped" style="font-size: small;">
  <% current_user.confirmed_friends.each do |friend|%>
    <tr>
      <td><%= friend.full_name %></td>
      <% if ListUser.find_by(list_id: get_active_list, user_id: friend).blank? %>
        <td><%= link_to "<i class=\"icon-ok\"></i> Invite".html_safe, list_users_path(id: 0, user_id: friend), method: :post, :class => "btn btn-small", 'data-toggle' => "button", :remote => true %></td>  
        <% else %>    
        <td><%= link_to "<i class=\"icon-ok\"></i> Invite".html_safe, list_user_path(id: 0, user_id: friend), method: :delete, :class => "btn btn-small active", 'data-toggle' => "button", :remote => true %></td>    
      <% end %>
    </tr>
  <% end %>
</table>