<div class="span3"> 
  <%= render :partial => 'shared/cart' %>
  <%= render :partial => 'category_nav_list' %>
</div>
<div class="span9">
  <div class="well">
    <h3>Welcome to category index....<h3>
  </div>
</div>