<script type="text/javascript">
  $(document).ready(function() {
    $('#friends_bought_this').popover({ 
      trigger: "click",
      html: "true",
      content: function() {
        return $("#popover_content_fwb").html();
      }
    });
  });

  $("body > div:not(#popover_content_fwb)").click(function(e) {
    $('#friends_bought_this').popover('hide');
  });
</script>

<blockquote>
  <p><a id="friends_bought_this" href="#" data-toggle="popover" data-placement="bottom" data-triger="click" disabled="disabled" data-content="" title="Friends who bought this product"><%= @product.bought_by_friends(current_user).length %></a> of your friends bought this product.</p>
</blockquote> 

<div id="popover_content_fwb" style="display: none">
    <% @product.bought_by_friends(current_user).each do |friend| %>
        <%= link_to (image_tag friend.profile_picture('square'), :class => "imageClip"), profile_user_path(friend), :class => "thumbnail", :style => "width: 50px; height: 50px;", :title => friend.full_name %>
    <% end %>
</div>